.frame21-frame21 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame21-rectangle14 {
  left: -3px;
  width: 1550px;
  bottom: -20px;
  position: absolute;
}
.frame21-image13 {
  top: 868px;
  left: 93px;
  width: 477px;
  height: 477px;
  position: absolute;
}
.frame21-line3 {
  top: 1442px;
  left: 0px;
  width: 1600px;
  height: 3px;
  position: absolute;
}
.frame21-text {
  top: 1114px;
  left: 673px;
  color: rgba(0, 0, 0, 1);
  width: 655px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Joti One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text05 {
  top: 868px;
  left: 673px;
  color: rgba(0, 0, 0, 1);
  width: 693px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Joti One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-rectangle13 {
  top: 148px;
  left: 0px;
  width: 1550px;
  height: 664px;
  position: absolute;
}
.frame21-image12 {
  top: 270.3104248046875px;
  left: 92.8203125px;
  width: 349px;
  height: 334px;
  position: absolute;
}
.frame21-rectangle4 {
  top: 2238px;
  left: 0px;
  width: 1550px;
  height: 231px;
  position: absolute;
}
.frame21-rectangle6 {
  top: 0px;
  left: 0px;
  width: 1550px;
  height: 147px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 13px;
}
.frame21-image9 {
  top: 283px;
  left: 1111px;
  width: 350px;
  height: 350px;
  position: absolute;
}
.frame21-image8 {
  top: 34px;
  left: 1431.8125px;
  width: 73px;
  height: 84px;
  position: absolute;
}
.frame21-image19 {
  top: 233px;
  left: 552px;
  width: 450px;
  height: 450px;
  position: absolute;
}
.frame21-image131 {
  top: 1537px;
  left: 93px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.frame21-image15 {
  top: 1537px;
  left: 1169px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.frame21-image20220206163758removebgpreview1 {
  top: 9px;
  left: 47.46875px;
  width: 86px;
  height: 130px;
  position: absolute;
}
.frame21-text14 {
  top: 100px;
  left: 306.125px;
  color: rgba(0, 0, 0, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text16 {
  top: 25px;
  left: 166.46875px;
  color: rgba(156, 101, 173, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 90px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text21 {
  top: 1906px;
  left: 558px;
  color: rgba(0, 0, 0, 1);
  width: 505px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Joti One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text22 {
  text-decoration: none;
}
.frame21-text23 {
  text-decoration: underline;
}
.frame21-text27 {
    text-decoration: none;
}

  .frame21-text27-1 {
  text-decoration: underline;
}
.frame21-svg {
  top: 2113px;
  left: 664px;
  width: 290px;
  height: 71px;
  position: absolute;
}
.frame21-text34 {
  top: 2130px;
  left: 741px;
  color: rgba(255, 255, 255, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Regular;
  text-align: left;
  font-family: Joti One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-image20 {
  top: 1537px;
  left: 460px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.frame21-text36 {
  top: 2267px;
  left: 141px;
  color: rgba(156, 101, 173, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 90px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text41 {
  top: 2339px;
  left: 259px;
  color: rgba(0, 0, 0, 1);
  width: 176px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-image20220206163758removebgpreview11 {
  top: 2279px;
  left: 47.81005859375px;
  width: 93px;
  height: 141px;
  position: absolute;
}
.frame21-image18 {
  top: 2402px;
  left: 1010px;
  width: 49px;
  height: 49px;
  position: absolute;
}
.frame21-text43 {
  top: 2409.021484375px;
  left: 1086px;
  color: rgba(0, 0, 0, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-text45 {
  top: 2411.955078125px;
  left: 710px;
  color: rgba(0, 0, 0, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-image191 {
  top: 2405px;
  left: 642px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.frame21-vector {
  top: 2405px;
  left: 323px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.frame21-text47 {
  top: 2412px;
  left: 387px;
  color: rgba(0, 0, 0, 1);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame21-image31 {
  top: 35px;
  left: 1311px;
  width: 79px;
  height: 79px;
  position: absolute;
}
.frame21-image21 {
  top: 1537px;
  left: 815px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.frame21-rectangle2 {
  top: 1257px;
  left: 1181px;
  width: 251px;
  height: 74px;
  position: absolute;
}
.frame21-text49 {
  top: 1277.95556640625px;
  left: 1209px;
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
